apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ metadata.name | default("mongodb-pvc") }}
spec:
  {%if spec.storageClassName %}
  storageClassName: {{ spec.storageClassName | default("manual") }}
  {%endif%}
  accessModes:
    - {{ spec.accessModes | default("ReadWriteOnce") }}
  resources:
    requests:
      storage: {{ spec.resources.requests.storage | default("10Gi") }}
  {%if spec.selector %}
  selector:
    matchLabels:
      app: {{ spec.selector.matchLabels.app | default("mongodb") }}
  {%endif%}