apiVersion: v1
kind: Secret
metadata:
  name: {{ metadata.name }}
  {% if metadata.namespace %}
  namespace: {{ metadata.namespace }}
  {% endif %}
  {% if metadata.labels %}
  labels:
    {% for key, value in metadata.labels.items() %}
    {{ key }}: {{ value }}
    {% endfor %}
  {% endif %}
  {% if metadata.annotations %}
  annotations:
    {% for key, value in metadata.annotations.items() %}
    {{ key }}: {{ value }}
    {% endfor %}
  {% endif %}
type: {{ secret_type|default("Opaque") }}
data:
  {% for key, value in data.items() %}
  {{ key }}: {{ value }}
  {% endfor %}
{% if stringData %}
stringData:
  {% for key, value in stringData.items() %}
  {{ key }}: {{ value }}
  {% endfor %}
{% endif %}